:root {
    --header-bg: rgb(6, 70, 53);
    --light-bg: rgb(81, 146, 89);
    --light-green:  rgb(161, 209, 166);
    --colourful-color: rgb(240, 187, 98);
    --lightest-bg: rgb(244, 238, 169);
    --red: rgb(219, 10, 10);
}

body{
    background-color: var(--header-bg);
    margin: 0px;
    font-family: monospace, 'Courier New', Courier;
}

.logo {
    display: flex;
    align-items: center;
    gap: .1rem;
}

#imgDuerkos {
    width: 2rem;
    height: 2rem;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-radius: 50%;
}

.header, .footer {
    display: flex;
    justify-content:center;
    gap : 5vw;
    flex-flow: row nowrap;
    height: 5rem;
    align-items: center;
    background-color: var(--header-bg);
    padding: 0.2rem;
}

.header img{
    max-height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.header a{
    text-decoration: none;
    color: white;
    font-size:larger;
}
.backgroundDiv{
    background-color: var(--light-bg);
    display:flex;
    align-items: center;
    justify-content: center;
}

.panelDiv{
    display:flex;
    background-color: var(--lightest-bg);
    width: 85vw;
    height: 85vw;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 5vh;
    border-radius: 30px;
    border-style:double;
}

.displayDiv{
    color:black;
    background-color: white;
    font-size: 8vw;
    font-weight: bold;
    width: 80vw;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--header-bg);
    display:flex;
    align-items:center;
    justify-content: end;
}

.buttonsContainer{
    display:flex;
    flex-flow: row nowrap;

}

.digits{
    gap: 1vh;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

button{
    width: 15vw;
    height: 10vw;
    font-size: 8vw;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 5px #666;
}

button:active, button.active {
    background-color: white;
    box-shadow: 0 3px #666;
    transform: translateY(2px);
    transition-duration: .1s;
  }

#Enter{
    width: 32vw;
}

.operations{
    gap: 1vh;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#Delete, #Backspace{
    font-size: 6vw;
}

@media only screen and (orientation: landscape) {
    .panelDiv {
        width: 85vh;
        height: 75vh;
    }
    .displayDiv{
        width: 64vh;
        font-size: 6vh;
    }
    #Enter{
        width: 29vh;
    }
    #Delete, #Backspace{
        font-size: 6vh;
    }
    button{
        width: 14vh;
        height: 10vh;
        font-size: 8vh;
    }
  }

